body {
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(todo3.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.container{
    width: 400px;
    height: auto;
    padding: 33px;
    background: transparent;
    border: 2px solid #700c7ea1;
    border-radius: 20px;
    backdrop-filter: blur(15px);
}

h1 {
    text-align: center;
    color: black;
    margin-bottom: 36px;
}

.input-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}
.todo-input {
    font-size: 16px;
    flex: 1;
    outline: none;
    padding: 10px 10px 10px 20px;
    background-color: transparent;
    border: 2px solid #700c7ea1;
    border-radius: 30px;
    font-size: 20px;
    margin-right: 16px;
}
.todo-input::placeholder{
color: black;
}
.add-button {
    font-size: 16px;
    cursor: pointer;
    border: none;
    outline: none;
    background: #700c7ea1;
    color: #fff;
    font-size: 35px;
    border-radius: 40px;
    width: 40px;
    height: 40px;
}

.todo-container {
    background-color: #fff;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.todos {
    list-style: none;
    padding: 0;
}

.todos li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 18px;
    border: 1px solid #ddd;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.todos li.completed {
    background-color: #f0f0f0;
}

.todos li label {
    margin-left: 10px;
    flex: 1; 
}

.todos li button {
    margin-left: 10px;
    padding: 8px;
    font-size: 16px;
    cursor: pointer;
}
@media (max-width: 412px) {
    .container{
        width: 250px;
    }
    .todo-input{
        width: 100px;
    }
}



/* shazil */